<h2>Last Events</h2>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>Type</th>
      <th>Timestamp</th>
      <th>Payload</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="events">
    <%= for event <- @events do %>
      <tr id={"event-#{event.id}"}>
        <td><%= event.device_id %></td>
        <td><%= event.type %></td>
        <td><%= event.timestamp %></td>
        <td><%= event.payload %></td>
      </tr>
    <% end %>
  </tbody>
</table>
