.gr-data path {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.gr-lablog circle {
    fill: red;
}

.graph-title {
    display: flex;
    flex-direction: row;
}

.graph-title h2 {
    flex-grow: 2;
    text-align: center;
}

.graph svg {
    display: block;
    margin: auto;
}

.graph form {
   width: 250px;
   margin: auto;
}

.graph-button {
    margin-right: 80px;
    float: right;
}

.graph-button i {
    margin: 4px;
    cursor: pointer;
}

.title-back {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.gr-ruler line{
    fill: none;
    stroke: orangered;
    stroke-width: 2px;
}

.day-rects rect:nth-child(2n+1)  {
    fill: #f8f8f8;
}

.day-rects rect:nth-child(2n)  {
    fill: #fff;
}
