<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Eco Oasis" %></h1>
  <p>Your account still needs to be confirmed. Contact with the administrator for confirmation.</p>
</section>
