<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Lurra", suffix: " · Eco Oasis" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo-container">
          <div><img class="logo" src={Routes.static_path(@conn, "/images/eco-hex.png")} alt="Eco Oasis Logo"/> </div>
          <nav>
            <ul>
              <%= if not is_nil(@current_user) do %>
                <li><%= link "Dashboard", to: Routes.live_path(@conn, LurraWeb.Dashboard) %></li>
                <li><%= link "Last Events", to: Routes.event_index_path(@conn, :index) %></li>
                <%= if not is_nil(@current_user) and @current_user.role == "admin" do %>
                  <li><%= link "Sensors", to: Routes.sensor_index_path(@conn, :index) %></li>
                  <li><%= link "Observers", to: Routes.observer_index_path(@conn, :index) %></li>
                  <li><%= link "Triggers", to: Routes.trigger_index_path(@conn, :index) %></li>
                  <li><%= link "Warning history", to: Routes.warning_index_path(@conn, :index) %></li>
                <% end %>
              <% end %>
            </ul>
          </nav>
          <h1>Eco oasis</h1>
          <nav class="login-menu">
            <%= render "_user_menu.html", assigns %>
          </nav>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
