<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Lurra", suffix: " · Eco Oasis" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><%= link "Events", to: Routes.event_index_path(@conn, :index) %></li>
            <li><%= link "Sensors", to: Routes.sensor_index_path(@conn, :index) %></li>
            <li><%= link "Dashboard", to: Routes.live_path(@conn, LurraWeb.Dashboard) %></li>
        
          </ul>
        </nav>
        <a href="http://51.15.65.107/dashboard" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/oasis-sm.png")} alt="Eco Oasis Logo"/>
          <h3>Eco Oasis</h3>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
